@model TechParvaLEAO.Areas.Leave.Models.LeaveType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leave Type</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMaternity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMaternity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCommon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCommon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deactivated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deactivated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
