@model TechParvaLEAO.Models.DashboardViewModel;

@{
    ViewBag.Title = "Cotecna";
}
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-primary">
            <div class="card-body pb-0">
                <div class="text-value">@Model.SupportingPendingToBeReceived</div>
                <div>Supporting Pending To Be Received</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info">
            <div class="card-body pb-0">
                <div class="text-value">@Model.ApprovedAdvanceRequest</div>
                <div>Approved Advance Request</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-warning">
            <div class="card-body pb-0">
            <div class="text-value">@Model.AdvanceRequestPaid</div>
            <div>Advance Request Paid</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-danger">
            <div class="card-body pb-0">
                <div class="text-value">@Model.ApprovedReimbursementUnpaid</div>
                <div>Approved Reimbursement Unpaid</div>
            </div>
        </div>
    </div>
</div>
<div class="">
    @*card-body*@
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" data-tabs="tabs">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                           aria-controls="nav-home" aria-selected="true">Advance</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                           aria-controls="nav-profile" aria-selected="false">Expense</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                           aria-controls="nav-contact" aria-selected="false">Pending Document</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="col-lg-12" id="#latest-advance-request">
                            @*card*@
                            <div class="">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i>Advance Request list
                                </div>
                                @*card-body*@
                                <div class="">
                                    <table class="table table-responsive-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Advance Request No.</th>
                                                <th>Employee Name</th>
                                                <th>Claim Date</th>
                                                <th>Role</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.AdvanceListItems.Count == 0)
                                            {
                                                <tr>
                                                    <td colspan="5">No data found</td>
                                                </tr>
                                            }
                                            @foreach (var data in Model.AdvanceListItems)
                                            {
                                                <tr>
                                                    <td><a href="/Expense/PaymentRequests/AdvanceDetails/@data.Id">@data.RequestNumber</a></td>
                                                    <td>@data.EmployeeName</td>
                                                    <td>@data.ClaimDate</td>
                                                    <td>@data.Role</td>
                                                    <td>
                                                        <span class="badge badge-success">@data.Status</span>
                                                    </td>
                                                    <td>@data.CurrencyName @data.Amount</td>
                                                </tr>
}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="col-lg-12" id="latest-reuimbersment-claims">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i>Expense Claim List
                                </div>
                                <div class="card-body">
                                    <table class="table table-responsive-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Expense Claim No.</th>
                                                <th>Employee Name</th>
                                                <th>Claim Date</th>
                                                <th>Role</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.ExpenseListItems.Count == 0)
                                            {
                                                <tr>
                                                    <td colspan="5">No data found</td>
                                                </tr>
                                            }
                                            @foreach (var data in Model.ExpenseListItems)
                                            {
                                                <tr>
                                                    <td><a href="/Expense/PaymentRequests/ExpenseDetails/@data.Id">@data.RequestNumber</a></td>
                                                    <td>@data.EmployeeName</td>
                                                    <td>@data.ClaimDate</td>
                                                    <td>@data.Role</td>
                                                    <td>
                                                        <span class="badge badge-success">@data.Status</span>
                                                    </td>
                                                    <td>@data.CurrencyName @data.Amount</td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="col-lg-12" id="latest-leave-request">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Pending Document list
                                </div>
                                <form>
                                    <div class="card-body">
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item">
                                                  
                                                    <a class="btn btn-success btn-md" href="/Expense/PaymentRequests/PendingDocumentExportCSV">
                                                        Download &nbsp;<i class="fa fa-download" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <table class="table table-responsive-sm table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Expense Request No</th>
                                                    <th>Employee Name</th>
                                                    <th>Claim Date</th>
                                                    <th>Role</th>
                                                    <th>Status</th>
                                                    <th>Amount</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.PendingDocuments.Count == 0)
                                                {
                                                    <tr>
                                                        <td colspan="7">No data found</td>
                                                    </tr>
                                                }
                                                @foreach (var data in Model.PendingDocuments)
                                                {
                                                    <tr class="statusApprove">
                                                        <td>@data.RequestNumber</td>
                                                        <td>@data.EmployeeName</td>
                                                        <td>@data.ClaimDate</td>
                                                        <td>@data.Role</td>
                                                        <td>
                                                            <span class="badge badge-warning">@data.Status</span>
                                                        </td>
                                                        <td>@data.CurrencyName @data.Amount</td>
                                                        <td>
                                                            <a href="/Expense/Paymentrequests/SupportingReceived/@data.Id" class="btn btn-success">Supporting</a>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script src="~/js/common.js"></script>
    <script>
        $(document).ready(function () {

            var hash = document.location.hash;
            var prefix = "tab_";
            if (hash) {
                $('.nav-tabs a[href=\\' + hash.replace(prefix, "") + ']').tab('show');
            }

            // Change hash for page-reload
            $('.nav-tabs a').on('shown.bs.tab', function (e) {
                window.location.hash = e.target.hash.replace("#", "#" + prefix);
            });
        });
    </script>
    }