Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization


Dear @Model.PaymentRequestData.NextActionByEmployee,
<br />
<br />
An advance request submitted by @Model.PaymentRequestData.EmployeeCode - @Model.PaymentRequestData.Employee
<br />
<br />
It is approved by –@Model.PaymentRequestData.ActionByEmployee.
<br />
<br />
Requesting your validations as per authority Matrix.
<br />
<br />
<table border="1">
    <tr>
        <td>Advance Request No:</td>
        <td>Amount:</td>
        <td>Comment:</td>
    </tr>
    <tr>
        <td> @Model.PaymentRequestData.RequestNumber</td>
        <td> @Model.PaymentRequestData.Currency  @Model.PaymentRequestData.Amount</td>
        <td>@Model.PaymentRequestData.Comment</td>
    </tr>
</table>
<br />
Pending unsettled advance for which claims not submitted by  @Model.PaymentRequestData.EmployeeCode - @Model.PaymentRequestData.Employee
<br />
<br />
<table border="1">
    <tr>
        <td>Total of Amount of Advance Unsettled:</td>
    </tr>
    <tr>
        <td>@Model.PaymentRequestData.UnsettledCurrency  @Model.PaymentRequestData.UnsettledAmount</td>
    </tr>

</table>
<br />
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#228B22">
                        <a href="@Model.AcceptButtonUrl" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Accept
                        </a>
                    </td>
                    <td>&nbsp;</td>
                    <td style="border-radius: 2px;" bgcolor="#ED2939">
                        <a href="@Model.RejectButtonUrl" target="_blank" style="padding: 8px 12px; border: 1px solid #228B22;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Reject
                        </a>
                    </td>
                    <td>&nbsp;</td>
                    <td style="border-radius: 2px;" bgcolor="#FFA500">
                        <a href="@Model.DetailButtonUrl" target="_blank" style="padding: 8px 12px; border: 1px solid #228B22;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Details
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

Best Regards
