Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization


Dear @Model.PaymentRequestData.Employee,<br />
<br />
Your Claim request has been processed as follows.<br />
<br />
<table border="1">
    <tr>
        <td>Expense Claim No</td>
        <td>Date of Claim Request</td>
        <td>Date of Payment</td>
        <td>Amount</td>
        <td>Comment</td>
    </tr>
    <tr>
        <td>@Model.PaymentRequestData.RequestNumber</td>
        <td> @Model.PaymentRequestData.CreatedDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
        <td> @Model.PaymentRequestData.PostedOn.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
        <td> @Model.PaymentRequestData.Currency  @Model.PaymentRequestData.Amount</td>
        <td>@Model.PaymentRequestData.Comment</td>
    </tr>
</table><br />
<br />
Best Regards
