Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization


Dear @Model.PaymentRequestData.ReportingManager,<br />
<br />
Expenses Claim approved by you is forwarded to Finance for further process<br />
<br />
<table border="1">
    <tr>
        <td>Sr No</td>
        <td>Employee Code and Employee Name</td>
        <td>Date of Claim Request</td>
        <td>Expense Claim No</td>
        <td>Amount</td>
        <td>Comment:</td>
    </tr>
    <tr>
        <td>@Model.PaymentRequestData.Id</td>
        <td>@Model.PaymentRequestData.EmployeeCode - @Model.PaymentRequestData.Employee</td>
        <td>@Model.PaymentRequestData.CreatedDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
        <td>@Model.PaymentRequestData.RequestNumber</td>
        <td>@Model.PaymentRequestData.Currency  @Model.PaymentRequestData.Amount</td>
        <td>@Model.PaymentRequestData.Comment</td>
    </tr>
</table>
<br />
Best Regards
