Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization


Dear @Model.PaymentRequestDataList.First().ReportingManager
<br />
Following Expense Claim have been submitted awaiting your Validation
<br />
<table border="1">
    <tr>
        <td>Sr No:</td>
        <td>Date of Request:</td>
        <td>Employee Name:</td>
        <td>Expence Claim No:</td>
        <td>Amount:</td>
        <td>Comment:</td>
    </tr>
    @foreach (var paymentRequest in Model.PaymentRequestDataList)
    {
<tr>
    <td>@paymentRequest.Id</td>
    <td>@paymentRequest.CreatedDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
    <td>@paymentRequest.Employee</td>
    <td> @paymentRequest.RequestNumber</td>
    <td> @paymentRequest.Currency  @paymentRequest.Amount</td>
    <td>@paymentRequest.Comment</td>
</tr>
    }
    </table>
<br />
Best Regards
