Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization


Dear @Model.PaymentRequestData.Employee,<br />
<br />
Your Expenses Claim has been forwarded to your reporting Manager @Model.PaymentRequestData.ReportingManager for validation.<br />
<br />
<table border="1">
    <tr>
        <td>Expense Claim No</td>
        <td>Amount Total</td>
        <td>Comment</td>
    </tr>
    <tr>
        <td>@Model.PaymentRequestData.RequestNumber</td>
        <td>@Model.PaymentRequestData.Currency @Model.PaymentRequestData.Amount</td>
        <td>@Model.PaymentRequestData.Comment</td>
    </tr>
</table>
<br />
<br />
Best Regards
