Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization


Dear  HR,
<br />
<br />
Leave of @Model.LeaveRequestData.Employee - @Model.LeaveRequestData.EmployeeCode  for the period
@Model.LeaveRequestData.FromDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
@if (@Model.LeaveRequestData.HalfDayStart)
{<span> (Half day Afternoon)</span>}
 to
@Model.LeaveRequestData.ToDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
@if (Model.LeaveRequestData.HalfDayEnd)
{<span> (Half Day Morning)</span>} has been rejected by Reporting Manager @Model.LeaveRequestData.ReportingManager.
<br />
<br />
Reason for Rejection: @Model.LeaveRequestData.RejectionReason
<br />

<br />
    Best Regards