Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization

Dear @Model.LeaveRequestData.EmployeeCode - @Model.LeaveRequestData.Employee,
<br />
<br />
Note that your application of Leave Without Pay for a period of
@Model.LeaveRequestData.FromDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) @if (@Model.LeaveRequestData.HalfDayStart)
{<span> (Half day Afternoon)</span>}
 to
@Model.LeaveRequestData.ToDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
@if (Model.LeaveRequestData.HalfDayEnd)
{<span> (Half Day Morning)</span>} -(@Model.LeaveRequestData.NumberOfDays Day/s)
has been submitted successfully and sent to your Reporting Manager for approval.
<br />
<br />
<table border="1">
    <tr>
        <td>Leave Eligibility</td>
        <td>Carried Forward</td>
        <td>Total Opening Balance</td>
        <td>Leave Utilized</td>
        <td>Leave Balance</td>
        <td>LWP days</td>
    </tr>
    @*<tr>
            <td>Leave Eligibility(year 2019)</td>
            <td>Leaves Availed</td>
            <td>Leaves Pending</td>
            <td>LWP days</td>
        </tr>*@
    <tr>
        <td>@Model.LeaveRequestData.LeaveEligibility</td>
        <td>@Model.LeaveRequestData.LeaveCarriedForward</td>
        <td>@Model.LeaveRequestData.LeavesOpeningBalance</td>
        <td>@Model.LeaveRequestData.LeavesUtilized</td>
        <td>@Model.LeaveRequestData.LeavesBalance</td>
        <td>@Model.LeaveRequestData.LWPDays</td>
    </tr>
    @*<tr>
            <td>@Model.LeaveRequestData.LeaveEligibility</td>
            <td>@Model.LeaveRequestData.LeavesAvailed</td>
            <td>@Model.LeaveRequestData.LeavesPending</td>
            <td>@Model.LeaveRequestData.LWPDays</td>
        </tr>*@
</table>
<br />
<br />
    Best Regards