Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization


Dear @Model.Receiver.Name,
<br />
<br />
You are requested to validate the time sheet submitted for period
@Model.FromDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) to
@Model.ToDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture).
<br />
<br />
<!--
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#228B22">
                        <a href="@Model.AcceptButtonUrl" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Accept
                        </a>
                    </td>
                    <td>&nbsp;</td>
                    <td style="border-radius: 2px;" bgcolor="#ED2939">
                        <a href="@Model.RejectButtonUrl" target="_blank" style="padding: 8px 12px; border: 1px solid #228B22;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Reject
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
-->
<br />
This validation will be available until (15th of the month, 23:59:59 hrs)
<br />
<br />
Best Regards
