Content-Type: text/html; charset=utf-8
@{
    Layout = null;
}
@model TechParvaLEAO.Models.NotificationEmailViewModel
@using System.Globalization


Dear @Model.TimesheetData.CoordinatorName,<br />
<br />
Time Sheet of the below mentioned employees for the period @Model.TimesheetData.FromDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) to
@Model.TimesheetData.ToDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) has been rejected.
<br />
<table border="1">
    <tr>
        <td>Employee Code:</td>
        <td>Employee Name:</td>
    </tr>
    <tr>
        <td>@Model.TimesheetData.EmployeeCode</td>
        <td>@Model.TimesheetData.Employee</td>
    </tr>
</table>
<br />
Kindly contact Reporting Manager for further clarifications, if any. <br />
<br /><br />
Best Regards
