@model IEnumerable<TechParvaLEAO.Areas.Reports.Models.TimesheetEntriesReportVm>

@{
    ViewData["Title"] = "Timesheet Entries Report";
    var search = (TechParvaLEAO.Areas.Reports.Models.TimesheetReportSearchVm)ViewData["Search"];
}

<h1>Timesheet Entries Report</h1>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Report Filter</strong>
                <span data-toggle="tooltip" data-placement="top" data-original-title="click for Filter">
                    &nbsp;
                    <a class="btn btn-info btn-sm" data-toggle="collapse"
                       data-target="#filter-for-search"><i class="fa fa-angle-double-down"></i></a>
                </span>
            </div>
            <div class="card-body collapse" id="filter-for-search">
                <form class="form-horizontal" action="" method="get">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="expenseClaim-from-date">From Date</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => search.FromDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="expenseClaim-to-date">To Date</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => search.ToDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="expenseClaim-to-date">Business Activity</label>
                                <div class="col-md-9">
                                    @Html.Editor("Client", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessage("Client", "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="expenseClaim-to-date">Job Number</label>
                                <div class="col-md-9">
                                    @Html.Editor("JobNumber", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessage("JobNumber", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="expenseClaim-to-date">Location</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("Location", (SelectList)ViewData["Branch"], "Select", new { @class = "form-control" })
                                    @Html.ValidationMessage("Location", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="expenseClaim-to-date">Employee</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("Employee", (SelectList)ViewData["Branch"], "Select", new { @class = "form-control" })
                                    @Html.ValidationMessage("Employee", "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Branch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Client)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimesheetDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OutTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalHours)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkingHours)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OvertimeHours)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Branch)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimesheetDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkingHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OvertimeHours)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
