@model TechParvaLEAO.Areas.Expense.Models.BusinessActivityCustomerMarketMapping

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Business Activity Customer Market Mapping</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessActivity.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerMarket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerMarket.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deactivated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deactivated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
