@model IEnumerable<TechParvaLEAO.Areas.Expense.Models.PaymentRequest>
@{
    ViewBag.Title = "Finance Pending Payment";
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common;
<form>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <partial name="_DownloadSearchInfo" />
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i>Approved Advance Request List

                            <span style="float: right">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="/Expense/PaymentRequests/UploadPaymentFile" class="btn btn-success btn-md" id="upload_btn">Upload</a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <!--<th rowspan="2"></th>-->
                                            <th rowspan="2">Advance Request No</th>
                                            <th rowspan="2">Create Date</th>
                                            <th rowspan="2">Employee Code</th>
                                            <th rowspan="2">Employee Name</th>
                                            <th rowspan="2">Designation</th>
                                            <th rowspan="2">Amount</th>
                                            <th rowspan="2">Detail</th>
                                            <th rowspan="2">Status</th>
                                            <!--<th rowspan="2">Action</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <!--<td><input type="checkbox" class="checkBoxClass" name="paymentrequestId" value="@item.Id"></td>-->
                                                <td>

                                                    <a asp-action="AdvanceDetails" asp-route-id="@item.Id">
                                                        @Html.DisplayFor(modelItem => item.RequestNumber)
                                                    </a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PaymentRequestCreatedDate)
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Employee.EmployeeCode)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Employee.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Employee.Designation.Name)</td>
                                                <td>
                                                    <a href="#" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#advance-payment-request-@item.Id">
                                                        @Html.DisplayFor(modelItem => item.Currency.Name) @Html.DisplayFor(modelItem => item.Amount)
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#History-@item.Id">
                                                        History &nbsp; <i class="fa fa-angle-double-down"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-success btn-sm" data-toggle="collapse"
                                                       data-target="#Approved-@item.Id">
                                                        <span data-toggle="tooltip" data-placement="top" data-original-title="click for Details">
                                                            @Html.DisplayFor(modelItem => item.Status)
                                                            <i class="fa fa-angle-double-down"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr id="History-@item.Id" class="collapse">
                                                <th colspan="2">
                                                    Transaction Log
                                                </th>
                                                <th colspan="10">
                                                    <div>
                                                        <div class="table-responsive">
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>By</th>
                                                                        <th>Designation</th>
                                                                        <th>Date</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var action in item.ApprovalActions)
                                                                    {
                                                                        <tr>
                                                                            <td>@Html.DisplayFor(modelItem => action.ActionBy.Name)</td>
                                                                            <td><span class="badge badge-info">@Html.DisplayFor(modelItem => action.ActionBy.Designation.Name)</span></td>
                                                                            <td>@Html.DisplayFor(modelItem => action.Timestamp)</td>
                                                                            <td>@Html.DisplayFor(modelItem => action.Action)</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                            <tr id="Approved-@item.Id" class="collapse">
                                                <td colspan="12">
                                                    <div class="table-responsive">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th>No</th>
                                                                    <th>Advance Request No.</th>
                                                                    <th>Claim Amount</th>
                                                                    <th>Approve / Reject BY</th>
                                                                    <th>Approve / Reject Date</th>
                                                                    <th>Rejection Reason</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.RequestNumber)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Currency.Name) @Html.DisplayFor(modelItem => item.Amount)</td>
                                                                    <td>
                                                                        <b>@Html.DisplayFor(modelItem => item.PaymentRequestActionedBy.Designation.Name)</b><br>
                                                                        @Html.DisplayFor(modelItem => item.PaymentRequestActionedBy.Name)
                                                                    </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.ActionDate)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.RejectionReasons.Reason)</td>
                                                                    <td><span class="badge badge-danger">@Html.DisplayFor(modelItem => item.Status)</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        }
                                    </tbody>

                                </table>
                            </div>
                            @Html.PagedListPager((IPagedList)Model,
                           page => Url.Action((String)ViewData["PageLinkURL"],"PaymentRequests",
                           new {area="Expense", id=page,
                               RequestNumber = Context.Request.Query["RequestNumber"],
                               Status = Context.Request.Query["Status"],
                               FromAmount = Context.Request.Query["FromAmount"],
                               ToAmount = Context.Request.Query["ToAmount"],
                               Currency = Context.Request.Query["Currency"],
                               EmployeeName = Context.Request.Query["EmployeeName"],
                               EmployeeCode = Context.Request.Query["EmployeeCode"],
                               FromDate = Context.Request.Query["FromDate"],
                               ToDate = Context.Request.Query["ToDate"],
                               __RequestVerificationToken= Context.Request.Query["__RequestVerificationToken"]
                           }),
                           new PagedListRenderOptionsBase
                           {PageClasses = new string[] { "page-link" },
                               UlElementClasses = new string[] { "pagination" },
                               LiElementClasses = new string[] { "page-item" },
                               DisplayItemSliceAndTotal = false,
                           })
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <!-- /.col-->
            </div>

        </div>
    </div>
</form>

@section scripts {
    <script src="~/js/common.js"></script>
}